.logout {
    z-index: 9;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: none;
    background-color: rgba(240, 248, 255, 0);
    border: none;
}
.logout button{
    background: none;
    border: none;
}
.logout button:hover{
    cursor: pointer;
}
